*.wav
*.png
ae.dat
disc.dat
disc2.dat
disc3.dat
disc4.dat
__pycache__
audio
blog
sparse_coded
.ipynb_checkpoints
.env

.vscode
.vscode/*

.idea
venv/*
**/experiment_data/*
**/trained_weights/*
model.dat
sparse_model.dat

band_512.dat
band_1024.dat
band_2048.dat
band_4096.dat
band_8192.dat
band_16384.dat
band_32768.dat

sparse_conditioned_gen.dat
sparse_conditioned_disc.dat
siam.dat

reverbs/*
model-demo/*
search/*

report.html

splatting/*
splatting_backup/*

avenues/*.html